.site-header {
 background-color: #1ab2c3;
  font-size: 30px;
}

.site-title {
  color: #FFFFFF;
}


.toc b {
margin-left: 20px;
font-size: 17px;
}

.toc ul{
list-style: none;
padding-left: 20px;
}

.toc li.active > a {
font-weight: 640;
}

.toc {
  display:none;
  padding-left: 0;
  padding-right: 12px;
  right: 0;
  top: 60px;
  bottom: 0;
  overflow-y: scroll;
  //margin-left: calc($nav-width-md + $content-width);
  background-color: $sidebar-color;

  @include mq(md) {
    display:block;
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: calc(100% - 60px);
    border-left: $border $border-color;
    padding-top: 8px;
  }

  @include mq(lg) {
    //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.platform_form {
  display:none;
  padding-left: 0;
  right: 0;
  top: 0;
  //margin-left: calc($nav-width-md + $content-width);
  background-color: $sidebar-color;

  @include mq(md) {
    display:block;
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 60px;
    border-bottom: $border $border-color;
    border-left: $border $border-color;
    line-height:60px;
  }

  @include mq(lg) {
    //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

#site-nav{
  overflow-y: auto;
  height: 500px;
  padding-top: 0px;
}

.side-bar {
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;

  @include mq(md) {
    //flex-wrap: nowrap;
    position: fixed;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
  }

  @include mq(lg) {
    //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
    min-width: $nav-width;
  }
}

.main img {
  border: 1px solid #000000;   
}

.main {
@include mq(md) {
  position: relative;
  max-width: $content-width;
  margin-left: $nav-width-md;
  margin-right: $nav-width-md;
}

@include mq(lg) {
  margin-left: $nav-width;
  margin-right: $nav-width;
}
}

.site-title {
padding-top: $sp-4;
padding-bottom: $sp-4;
}
