.side-bar > .site-footer {
    //display:none;
}

//
// The basic two column layout
//

.toc li.active > a {
  color: #333;
  font-weight: 500;
}
.toc {
    list-style: none;
    padding-right: 20px;
    right: 0;
    top:0;
    //margin-left: calc($nav-width-md + $content-width);
    display: flex;
    flex-wrap: wrap;
    background-color: $sidebar-color;
  
    @include mq(md) {
      //flex-wrap: nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      flex-direction: column;
      border-left: $border $border-color;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
      min-width: $nav-width;
    }
}
.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: $sidebar-color;
  
    @include mq(md) {
      //flex-wrap: nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      flex-direction: column;
      border-right: $border $border-color;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
      min-width: $nav-width;
    }
}

.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
    margin-right: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: $nav-width;
    margin-right: $nav-width;
  }
}


.site-title {
  padding-top: $sp-4;
  padding-bottom: $sp-4;
}

