.side-bar > .site-footer {
    //display:none;
}

//
// The basic two column layout
//

.side-bar {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: $sidebar-color;
  
    @include mq(md) {
      //flex-wrap: nowrap;
      position: fixed;
      width: $nav-width-md;
      height: 100%;
      flex-direction: column;
      border-right: $border $border-color;
      align-items: flex-end;
    }
  
    @include mq(lg) {
      //width: calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
      min-width: $nav-width;
    }
}

.site-title {
  padding-top: $sp-4;
  padding-bottom: $sp-4;
}
